html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jost';
}

#map{
    width: 100%;
    height: 100%;
    background-color: #222222;
}

#visible {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
    background: #FFF;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }

.region-label{
    white-space:nowrap;
    text-shadow: 0 0 0.1em black, 0 0 0.1em black,
          0 0 0.1em black,0 0 0.1em black,0 0 0.1em;
    color: white;
    text-align: center;
    font-size: 16px;
}
  
a:link {
    color: #d67b52;
}
a:visited {
    color: #d67b52;
}
a:hover {
    color: #d67b52;
}
a:active {
    color: #d67b52;
}